*{
    box-sizing: border box;
  }
  
  div {
    display: block;
  }
  
  body{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width:100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(63, 147, 216, 0.25);
    z-index: 1;
  }
  
  .logo img{
    height:55px
  }
  
  .menu{
    list-style: none;
    display:flex;
  }
  
  .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgb(68, 0, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .hey {
    color: #197cec;
    font-weight: 500;
    font-size: 0.9em;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
  } 
  
  a {
    text-decoration: none;
  }
   
  .container{
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
  }
  
  .info{
    padding: 0px;
    display: block;
    position: absolute;
  }
  
  .info .title{
    margin-bottom: 1.4em;
  }
  
  .title{
    display: block;
    line-height: 2;
    font-size: 2.8rem;
  }
  
  .info h3 {
    font-size: 2.5em;
    font-weight: bold;
    color: #0a4775;
    position: relative;
    text-align: center;
  }
  
  .info h5 {
    color:rgb(107, 105, 105);
    font-size: 1.5em;
    font-weight: 250;
    position: relative;
    text-align: center;
  }
  
  .menu li a:hover{
    background-color: #cf55ff;
    color: white;
    box-shadow: 5px 10px 30px rgba(24,139,119,0.2);
    border-radius: 10%;
  }

.back img{
  position: relative;
  background-position: center;
}

.navbar {
  overflow: hidden;
  background-color: #7e7e7e;
  position:fixed;
  bottom: -5px;
  width: 100%;
  font-weight: 600;
  padding: bottom 1px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 0;
}

.navbar a {
  float: left;
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar p {
  color: aliceblue;
}

.navbar a.active {
  background-color: #7e7e7e;
  color: aliceblue;
}